* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
body {
  padding-top: 1.5rem;
  /* background-color: rgb(62, 62, 138); */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/blue.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  border: 2px solid white;
  width: 50%;
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1em;
  padding: 1rem 4rem;
}

.container div {
  border: 2px solid white;
  background-image: url("../images/blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.8rem 2rem;
}

div img {
  height: inherit;
  width: 100%;
}
#show {
  padding: 0.5rem 2rem;
  border: 1px solid white;
  margin-top: 0.8rem;
  width: max-content;
}

div button {
  padding: 0.4rem 1.8rem;
  border: 1px solid white;
  background-color: transparent;
  width: max-content;
}

.check {
  background-color: transparent;
  border: 1px solid white;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.green:active {
  border: 1px solid green;
  box-shadow: 0 0 4px rgba(0, 128, 0, 0.623);
}

.bng:active {
  border: 2px solid green;
  color: yellow;
  box-shadow: 0 0 4px green;
}

#user {
  margin-top: 2.8rem;
}

@media screen and (max-width: 635px) {
  div h2 {
    font-size: 1rem;
    width: max-content;
  }

  div button {
    padding: 0.2rem 0.6rem;
  }

  #show {
    font-size: 1.1rem;
  }

  body {
    background-image: url("../images/blue.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
}




